DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
NOVA_POSHTA_API_KEY=YOUR_NOVA_POSHTA_API_KEY_HERE
NEXT_PUBLIC_SITE_URL=http://localhost:3000
MONOBANK_ACQUIRING_TOKEN=YOUR_MONOBANK_ACQUIRING_TOKEN_HERE
MONOBANK_PARTS_STORE_ID=YOUR_MONOBANK_PARTS_STORE_ID_HERE
MONOBANK_PARTS_SECRET=YOUR_MONOBANK_PARTS_SECRET_HERE
MONOBANK_PARTS_API_URL=https://u2.monobank.com.ua/api/order/create
