@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #F5F8F9;
}

